* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

.container {
    background-color: white;
}

.main {
    width: 70%;
    margin: 40px auto;
}

/* header */
.header {
    width: 100vw;
    height: 70px;
    line-height: 70px;
    
}

h1, header img {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

header img {
    margin-left: 20px;
}
/* end header */

/* inizio buttons */
.buttons {
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid #f6f8f9;
}

.buttons input {
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
}

.buttons .task {
    color: white;
    background-color: #47adf1;
    margin-left: 50px;
}

.buttons .section {
    background-color: white;
    color: #d0d5d9;
    border: 1px solid #d0d5d9;
}

/* end buttons */

/* toboo */
ul {
    list-style: none; /* Remove list bullets */
    line-height: 1.6;
    margin-left: 50px;
}

li, li div, strong {
    background-color: white;
}

li {
    padding-top: 15px;
}

li::before {
    content: "\23F7";
}

.ok::before, .not::before /*common in before*/{
    padding: 2px;
    margin: 4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
}

.ok::before {
    content: "\2713";  
    color: #6dc4b0;
    border: 1px solid #6dc4b0;
}

.not::before {
    content: "\2717"; 
    color: #eb5d57;
    border: 1px solid #eb5d57;
}

li div::after {
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 8px;
}

.editorial::after{
    content: "Editorial";
    background-color: #4daeea;
}

.goals::after{
    content: "Q1 Goals";
    background-color: #9c72e4;
}

.recruiting::after{
    content: "Recruiting";
    background-color: #64c0a9;
}

.mobile::after{
    content: "Mobile";
    background-color: #f29e33;
}

.website::after{
    content: "Website";
    background-color: #d863a1;
}

.sales::after{
    content: "Sales";
    background-color: #b0c926;
}

/* padding last div */
.last div:last-child {
    padding-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* end toboo */